a.que_keyword {
	color: #373f50 !important ;
	text-decoration: none;
}

a.que_keyword:hover {
	color: #006666 !important ;
	font-weight: 700;
	text-decoration: none;
}

 body {
         font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
         }
        .legend {
             border: 1px solid #555555;
              border-radius: 5px 5px 5px 5px;
              font-size: 0.8em;
              margin: 10px;
               padding: 10px;
         }
        .bld {
              font-weight: bold;
         } 