<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friends">
	<!-- 김세연 친구 매퍼 -->
	
	<!-- 친구 신청  -->
	<insert id="request" parameterType="hashmap">
		insert into friends values
		(friends_seq.nextVal,#{mem_num},#{req_mem_num},0,sysdate,'')
	</insert>

	<!-- 친구 수락 : 상태값 수정 -->
	<update id="accept" parameterType="hashmap">
		update friends set req_stat = 1, acc_date = sysdate 
		where mem_num = #{mem_num} and req_mem_num = #{req_mem_num} 
		or mem_num = #{req_mem_num} and req_mem_num = #{mem_num}
	</update>
	
	<!-- 친구 신청 취소 : 내역삭제 -->
	<delete id="delete" parameterType="hashmap">
		delete from friends 
		where mem_num = #{mem_num} and req_mem_num = #{req_mem_num}
	</delete>
	
	<!-- 친구 해제 -->
	<update id="unfollow" parameterType="hashmap">
		update friends set req_stat = 2, acc_date = sysdate 
		where mem_num = #{mem_num} and req_mem_num = #{req_mem_num} or 
		mem_num = #{req_mem_num} and req_mem_num = #{mem_num}
	</update>
	
	<!-- 회원별 친구 목록 -->
	<resultMap type="memvo" id="memvo">
		<id property="mem_num" column="mem_num" javaType="int"/>
		<result property="mem_name" column="mem_name"/>
		<result property="mem_nickname" column="mem_nickname"/>
	</resultMap>
	
	<resultMap type="frivo" id="friendResultMap">
		<id property="fol_num" column="fol_num" javaType="int"/>
		<result property="mem_num" column="mem_num" javaType="int"/>
		<result property="req_mem_num" column="req_mem_num" javaType="int"/>
		<result property="req_stat" column="req_stat"/>
		<result property="req_date" column="req_date"/>
		<result property="acc_date" column="acc_date"/>
		<collection property="memvo" resultMap="memvo"/>
	</resultMap>
	<!-- 친구상태인 목록 -->
	<select id="friList" parameterType="int" resultType="frivo">
		select m.mem_name, m.mem_nickname, f.req_mem_num,f.req_stat,f.req_date,acc_date   
		from member m, friends f  
		where f.req_mem_num = m.mem_num and req_stat = 1   
		and f.mem_num= #{mem_num}
	</select>
	
	<!-- 친구요청 받은 목록 -->
	<select id="friWtList" parameterType="int" resultType="frivo">
		select m.mem_name, m.mem_nickname, f.mem_num,f.req_stat,f.req_date 
		from member m, friends f 
		where f.mem_num = m.mem_num 
		and req_stat = 0 
		and f.req_mem_num= #{mem_num}
	</select>
	
	
	
	<!-- 친구관계상태값 가져오기 -->
	<select id="req_stat" parameterType="hashmap" resultType="frivo">
		select mem_num,req_mem_num,req_stat from friends where mem_num = #{mem_num} 
		and req_mem_num = #{req_mem_num} or mem_num = #{req_mem_num} and req_mem_num = #{mem_num}
	</select>

</mapper>