<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="log">

	<!--================================ 1) 검색어 로그 관련 mapper ================================ -->
	<insert id="insertSearchLog" parameterType="slogvo">
		insert into searchLog values (searchLog_seq.nextVal, #{slog_idn}
		, #{slog_reip},	#{slog_agent},#{slog_word},sysdate)
	</insert>

</mapper>