<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="log">

	<!--================================ 1) 검색어 로그 관련 mapper ================================ -->
	<insert id="insertSearchLog" parameterType="slogvo">
		insert into searchLog values (searchLog_seq.nextVal, #{slog_idn}
		, #{slog_reip},	#{slog_agent},#{slog_word},sysdate)
	</insert>

	<!-- 로그인로그아웃로그 -->
	<insert id="log" parameterType="logvo">
    insert into mylog values(mylog_seq.nextVal,#{id},#{reip},#{status},#{sstime})
	</insert>
	
	<!-- 상품 조회 테이블에 영화 번호와 조회자의 ID를 insert -->
   <insert id="producthit" parameterType="admvo">
      insert into adminhit values (#{mem_id}, #{pro_num}, #{int_time})
   </insert>
</mapper>