<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderList">

	<select id="orderDetail" resultType="ordvo" parameterType="int">
		select ord_num, mem_num, pro_num, ord_qty from orderList
		where
		ord_num=#{ord_num} and pro_num=#{pro_num}
	</select>

	<select id="orderList" parameterType="int"
		resultMap="ProductOrderMap">
		select o.ord_num, p.pro_num, p.pro_name, p.pro_price,
		p.pro_discount, (p.PRO_PRICE*(100-pro_discount)/100) as pro_dprice,
		p.pro_delivery, p.pro_thumb, o.ord_qty, o.ord_date from orderlist o, product p
		where o.pro_num = p.pro_num and o.mem_num = #{mem_num} order by
		o.ord_date desc
	</select>

	<!-- 김다율 : provo 1개의 상품에 orderListVO N개의 주문 내역이 있으므로 1:N의 관계인 resultMap -->
	<resultMap type="provo" id="ProductOrderMap">
		<id column="pro_num" property="pro_num" />
		<result column="pro_price" property="pro_price" />
		<result column="pro_discount" property="pro_discount" />
		<result column="pro_delivery" property="pro_delivery" />
		<result column="pro_period" property="pro_period" />
		<result column="sel_num" property="sel_num" />
		<result column="pro_name" property="pro_name" />
		<result column="pro_category" property="pro_category" />
		<result column="pro_thumb" property="pro_thumb" />
		<result column="pro_photo" property="pro_photo" />
		<result column="pro_detail" property="pro_detail" />
		<result column="pro_rdate" property="pro_rdate" />
		<result column="pro_dprice" property="pro_dprice" />
		<association property="orderListVO" javaType="ordvo">
			<id column="ord_num" property="ord_num" />
			<result column="pro_num" property="pro_num" />
			<result column="ord_qty" property="ord_qty" />
			<result column="mem_num" property="mem_num" />
			<result column="pur_num" property="pur_num" />
			<result column="ord_date" property="ord_date" />
		</association>
	</resultMap>
	
	<!-- 김다율 : purchaseVO 1:N orderlistVO 니까 resultMap: purchaseVO 안에 orderlistVO gettersetter가 담겨야 함. -->
<!-- 	<resultMap type="purvo" id="PurchaseOrderMap">
		<id column="pur_num" property="pur_num" />
		<result column="mem_num" property="mem_num" />
		<result column="pur_date" property="pur_date" />
		<result column="rec_name" property="rec_name" />
		<result column="rec_tel" property="rec_tel" />
		<result column="rec_addr" property="rec_addr" />
		<result column="rec_card" property="rec_card" />
		<result column="rec_cardnum" property="rec_cardnum" />
		<collection property="ordvo_list" javaType="java.util.List">
			<id column="ord_num" property="ord_num" />
			<result column="pro_num" property="pro_num" />
			<result column="ord_qty" property="ord_qty" />
			<result column="mem_num" property="mem_num" />
			<result column="pur_num" property="pur_num" />
			<result column="ord_date" property="ord_date" />
		</collection> 
	</resultMap>-->
	<select id="purchaseOrderlist" resultType="purvo">
		select * from purchase
	</select>
	<!-- 이재영: 최근 일주일에 가장 많이 주문한 상품 추천 -->
	<select resultType="int" id="ordRecommend">
		select pro_num from(select pro_num from orderlist where ord_date > (sysdate-30) 
		GROUP by pro_num order by count(pro_num) desc )where rownum between 1 and 4 
	</select>
	
	
</mapper>
