<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderList">

	<select id="purList" parameterType="int" resultMap="PurOrderMap">
		select a.pur_num, a.pur_date, c.pro_num, b.ord_qty, c.pro_name, (c.PRO_PRICE*(100-c.pro_discount)/100) as pro_dprice, 
		c.pro_thumb 
		from purchase a, orderlist b, product c 
		where a.pur_num=b.pur_num and b.pro_num = c.pro_num and b.mem_num=#{mem_num}
		order by a.pur_date desc
	</select>
	
	<resultMap type="purvo" id="PurOrderMap">
		<id column="pur_num" property="pur_num"/>
		<result column="mem_num" property="mem_num"/>
		<result column="pur_date" property="pur_date"/>
		<result column="rec_name" property="rec_name"/>
		<result column="rec_tel" property="rec_tel"/>
		<result column="rec_addr" property="rec_addr"/>
		<result column="rec_card" property="rec_card"/>
		<result column="rec_cardnum" property="rec_cardnum"/>
		<collection property="ordvo_list" resultMap="OrderProductMap" javaType="java.util.List" ofType="ordvo"/>
	</resultMap>
	
	<resultMap type="ordvo" id="OrderProductMap">
		<result column="pro_num" property="pro_num"/>
		<result column="ord_qty" property="ord_qty"/>
		<result column="mem_num" property="mem_num"/>
		<result column="pur_num" property="pur_num"/>
		<result column="ord_date" property="ord_date"/>
		<association property="productVO" javaType="provo">
			<id column="pro_num" property="pro_num"/>
			<result column="pro_name" property="pro_name"/>
			<result column="pro_price" property="pro_price"/>
			<result column="pro_discount" property="pro_discount"/>
			<result column="pro_dprice" property="pro_dprice"/>
			<result column="pro_thumb" property="pro_thumb"/>
		</association>
	</resultMap>
	
	<!-- 이재영: 최근 일주일에 가장 많이 주문한 상품 추천 -->
	<select resultType="int" id="ordRecommend">
		select pro_num from(select pro_num from orderlist where ord_date > (sysdate-30) 
		GROUP by pro_num order by count(pro_num) desc )where rownum between 1 and 4 
	</select>
	
	
</mapper>
