<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	
	<!-- 카테고리별 상품 목록 불러오기 -->
	<select id="themelist" parameterType="String" resultMap="bestlistMap">
		select substr(p.pro_name, 1, 16) pro_name, p.pro_discount pro_discount, 
		p.pro_thumb pro_thumb,
		p.pro_price pro_price, p.pro_price*(1 - p.pro_discount/100) pro_dprice,
		p.pro_review pro_review, p.pro_rdate pro_rdate, p.pro_num
		pro_num, (to_number(sysdate - p.pro_rdate)) pro_age, p.sel_num
		sel_num, s.sel_name sel_name, s.sel_grade sel_grade
		from product p, seller s where pro_category=#{category} and p.sel_num = s.sel_num
	</select>

	<!-- 옵션 추가해서 상품 불러오기 -->
	<select id="orderlist" parameterType="hashmap" resultMap="bestlistMap">
		 select substr(p.pro_name, 1, 16) pro_name, p.pro_discount pro_discount, 
		p.pro_thumb pro_thumb,
		p.pro_price pro_price, p.pro_price*(1 - p.pro_discount/100) pro_dprice,
		p.pro_review pro_review, p.pro_rdate pro_rdate, p.pro_num
		pro_num, (to_number(sysdate - p.pro_rdate)) pro_age, p.sel_num
		sel_num, s.sel_name sel_name, s.sel_grade sel_grade, p.pro_delivery pro_delivery, p.pro_period pro_period
		from product p, seller s where p.sel_num = s.sel_num
		<if test="merit != null">
		<choose>
			<when test="merit == 1">
				and p.pro_delivery = 0
			</when>
			<when test="merit == 2">
				and 2 > p.pro_period
			</when>
			<when test="merit == 3">
				and s.sel_grade = 3
			</when>
			<when test="merit == 4">
				and p.pro_discount > 30
			</when>
		</choose>
		</if>
		<if test="category != null">
		<choose>
			<when test="category == 0">
				and p.pro_category = 0
			</when>
			<when test="category == 1">
				and p.pro_category = 1
			</when>
			<when test="category == 2">
				and p.pro_category = 2
			</when>
			<when test="category == 3">
				and p.pro_category = 3
			</when>
			<when test="category == 4">
				and p.pro_category = 4
			</when>
			<when test="category == 5">
				and p.pro_category = 5
			</when>
			<when test="category == 6">
				and p.pro_category = 6
			</when>
			<when test="category == 7">
				and p.pro_category = 7
			</when>
			<when test="category == 8">
				and p.pro_category = 8
			</when>
			<when test="category == 9">
				and p.pro_category = 9
			</when>
			<when test="category == 10">
				and p.pro_category = 10
			</when>
			<when test="category == 11">
				and p.pro_category = 11
			</when>
			<when test="category == 12">
				and p.pro_category = 12
			</when>
			<when test="category == 13">
				and p.pro_category = 13
			</when>
		</choose>
		</if>
		<if test="way != null">
		<choose>
			<when test="way == 1">
				order by 7 desc
			</when>
			<when test="way == 2">
				order by 4 asc
			</when>
			<when test="way == 3">
				order by 4 desc
			</when>
			<when test="way == 4">
				order by 6 desc
			</when>
			<when test="way == 5">
				order by 2 desc
			</when>
		</choose>
		</if>
	</select>


<!-- 스토어 메인 페이지 상품 리스트 -->
<resultMap type="provo" id="bestlistMap">
<id property="pro_num" column="pro_num" javaType="int"/>
<result property="pro_name" column="pro_name"/>
<result property="pro_discount" column="pro_discount"/>
<result property="sel_num" column="sel_num" javaType="int"/>
<result property="pro_price" column="pro_price" javaType="int"/>
<result property="pro_review" column="pro_review" javaType="int"/>
<result property="pro_thumb" column="pro_thumb"/>
<result property="pro_photo" column="pro_photo"/>
<result property="pro_rdate" column="pro_rdate"/>
<result property="pro_dprice" column="pro_dprice"/>
<result property="pro_age" column="pro_age" javaType="int"/>
<association property="seller" javaType="selvo">
<id property="sel_num" column="sel_num" javaType="int"/>
<result property="sel_name" column="sel_name"/>
<result property="sel_grade" column="sel_grade" javaType="int"/>
</association>
</resultMap>
<select id="bestlist" resultMap="bestlistMap">
		select substr(p.pro_name, 1, 16) pro_name, p.pro_discount pro_discount, 
		p.pro_thumb pro_thumb,
		p.pro_price pro_price, p.pro_price*(1 - p.pro_discount/100) pro_dprice,
		p.pro_review pro_review, p.pro_rdate pro_rdate, p.pro_num
		pro_num, (to_number(sysdate - p.pro_rdate)) pro_age, p.sel_num
		sel_num, s.sel_name sel_name, s.sel_grade sel_grade
		from product p, seller s where p.sel_num = s.sel_num
	</select>



	<!-- 총 상품 갯수 불러오기 -->
	<select id="totalProduct" resultType="String">
		select count(*) pro_total
		from product
	</select>

	<!-- 총 스크랩 갯수 불러오기 -->
	<select id="totalScrap" parameterType="String"
		resultType="String">
		select count(*) from scrap_product where mem_num = (select
		mem_num from member where mem_id = #{sid})
	</select>

	<!-- 총 카트 갯수 불러오기 -->
	<select id="totalCart" parameterType="String"
		resultType="String">
		select count(*) from cart where mem_num = (select mem_num
		from member where mem_id = #{sid})
	</select>

	<!-- 최근 조회상품 불러오기 -->
	<select id="myclick" parameterType="String" resultType="intvo">
		select pro_num, pro_thumb from (select rownum, aa.* from (select pro_num, pro_thumb from product where pro_num in (select pro_num from interest where mem_num = (select mem_num from member where mem_id = #{sid})))aa) where 6 > rownum

	</select>

	<!-- 최다 조회상품 불러오기 -->
	<select id="theirclick" resultType="intvo">
		select pro_num, pro_thumb, pro_photo, sel_num from product where pro_num in (select pro_num from (select rownum, aa.* from (select pro_num, count(nvl(pro_num,0)) from interest group by pro_num order by 2 desc)aa) where 6 > rownum)

	</select>
	<!--  상품 상세보기  -->
	<select id="productdetail" parameterType="int" resultMap="bestlistMap">
		select p.pro_name pro_name, p.pro_discount pro_discount, p.pro_category pro_category, 
		p.pro_thumb pro_thumb, p.pro_photo pro_photo,
		p.pro_price pro_price, p.pro_price*(1 - p.pro_discount/100) pro_dprice,
		p.pro_review pro_review, p.pro_rdate pro_rdate, p.pro_delivery pro_delivery, p.pro_num
		pro_num, (to_number(sysdate - p.pro_rdate)) pro_age, p.sel_num
		sel_num, s.sel_name sel_name, s.sel_grade sel_grade
		from product p, seller s where pro_num=#{pro_num} and p.sel_num = s.sel_num 
	</select>
	
	<!--  상품 상세보기 -별점  -->
	<select id="productstar" parameterType="int" resultType="String">
		select avg(nvl(rev_star,0)) rev_star from review where pro_num=#{pro_num}
	</select>
	
	<!-- 이재영: 서제스트용 -->
	<select id="suggestProductList" resultType="provo">
		select * from product
	</select>

	<!-- 이재영: 상춤 추천 -->
	<select parameterType="int" id="recommendProduct" resultType="provo">
		select pro_num,pro_name , PRO_THUMB from product where pro_num=${result} 
	</select>
	
</mapper>
