<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="questionlog">

	<!--================================ 1) 검색어 로그 관련 mapper ================================ -->
	<insert id="insertSearchLog" parameterType="quelogvo">
		insert into quesearchlog values ( #{mem_id}, #{type}, #{que_search}, sysdate)
	</insert>
	
	<select id="wordcloudlist" resultType="quewcvo">
		select que_search as subject, count(*) as mount from quesearchlog group by que_search having count(*) > 1 order by count(*) desc
	</select>
	
	<select id="suggestsearch" resultType="quewcvo" parameterType="String">
		select * from( 
		select que_search as subject, count(*) as mount from quesearchlog 
		group by que_search having count(*) > 1 
		order by count(*) desc
		)where rownum between 1 and 7
	</select>
	
	<select id="mysearch" resultType="quewcvo" parameterType="String">
		select * from( 
		select que_search as subject, count(*) as mount from quesearchlog 
		where mem_id = #{mem_id}
		group by que_search having count(*) > 1 
		order by count(*) desc
		)where rownum between 1 and 7
	</select>
  </mapper>