<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scarp_Product">
	<select id="recommend" resultType="int" parameterType="int">
		select pro_num from (
		select pro_num,count(pro_num) from (
		select s.pro_num FROM SCRAP_PRODUCT s,product p where s.pro_num=p.pro_num and p.pro_category=#{cateNum} ORDER BY scr_num DESC
		) where rownum between 1 and 200 group by pro_num order by count(pro_num) desc
		)
		where rownum between 1 and 4 
	</select>
	
	<!-- 오원석 상품스크랩 -->
	<select id="getlist" resultType="pvo">
		select * from product
	</select>

	<insert id="scrap" parameterType="scrprovo">
		insert into scrap_product values(SCRAP_SEQ.nextval, #{mem_num}, #{pro_num})
	</insert>

	<select id="scrapchk" parameterType="scrprovo" resultType="int">
		select count(*) cnt from scrap_product where mem_num=#{mem_num} and pro_num=#{pro_num}
	</select>

	<delete id="scrapdel" parameterType="scrprovo">
		delete from scrap_product where mem_num=#{mem_num} and pro_num=#{pro_num}
	</delete>
</mapper>