<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 경로 확인 : ctrl 키 눌러서 이동해보기 -->
	<typeAliases>
		<typeAlias type="kr.co.kosmo.mvc.vo.MemberVO" alias="memvo" /> <!-- 회원 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.ProductVO" alias="provo" /> <!-- 상품 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.SellerVO" alias="selvo" /> <!-- 판매업체 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.ReviewVO" alias="revvo" /> <!-- 리뷰 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.PageVO" alias="pvo" /> <!-- Page -->
		<typeAlias type="kr.co.kosmo.mvc.vo.OrderListVO" alias="ordvo" /> <!-- 주문내역 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.SearchLogVO" alias="slogvo"/> <!-- 검색로그 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.HousewarmingVO" alias="houvo"/><!-- 집들이(개요) -->
		<typeAlias type="kr.co.kosmo.mvc.vo.HousedetailVO" alias="hwdvo"/><!-- 집들이(상세) -->
		<typeAlias type="kr.co.kosmo.mvc.vo.HouseCommentVO" alias="hcmvo"/><!-- 집들이(댓글) -->
		<typeAlias type="kr.co.kosmo.mvc.vo.QuestionVO" alias="quevo"/><!-- 질문 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.AnswerVO" alias="ansvo"/><!-- 답변 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.Scrap_ProductVO" alias="scrprovo"/><!-- 상품스크랩 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.Scrap_HousewarmingVO" alias="srchouvo"/><!-- 집들이스크랩 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.Scrap_QnaVO" alias="srcquevo"/><!-- 질문과답변스크랩 -->
		<typeAlias type="kr.co.kosmo.mvc.vo.CartVO" alias="cvo"/><!-- 장바구니  -->
		<typeAlias type="kr.co.kosmo.mvc.vo.FriendsVO" alias="frivo"/><!-- 친구맺기  -->
		<typeAlias type="kr.co.kosmo.mvc.vo.QuestionLogVO" alias="quelogvo"/>
		<typeAlias type="kr.co.kosmo.mvc.vo.QuestionWordCloudVO" alias="quewcvo"/>
		<typeAlias type="kr.co.kosmo.mvc.vo.LogVO" alias="logvo"/><!-- 로그인로그아웃로그  -->
		<typeAlias type="kr.co.kosmo.mvc.vo.AdminHitVO" alias="admvo"/><!-- 상품조회로그  -->
		<typeAlias type="kr.co.kosmo.mvc.vo.PurchaseVO" alias="purvo"/><!-- 상품 구매 내역  -->
	</typeAliases>
	<!-- Spring이 environments, environment, transactionManager, dataSource, 
		mapper등을 자동적으로 관리해줌 -->
</configuration>